body{
  background-color: pink;
}

h1{
  font-style: italic;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;

}
#searchbox{
  margin-left: 80%;

}


fieldset{
  width: 20%;
  background-color: skyblue;
}
input{
  border: 1px red solid;
}
#button1{
padding-left: 55px;
}
