/*This stylesheet is a  collective mixture of linking.css & forms.css and at last it also CSS for HTML5 Video and audio player*/

/*stylesheet for Forms*/

body{
  background-color: pink;

}

h1{
  font-style: italic;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;


}
#searchbox{
  margin-left: 80%;
  display: flex;
  flex-wrap: wrap;

}


legend{

  font-size: 25px;
  font-family: cursive;

}
h2{
  margin-left: 200px;

}
#choice{
  margin-left: 100px;
  color: orange;
  font-weight: bold;
  font-style: oblique;
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
}
h3{
  color: red;
  text-align: center;

}
fieldset{
  width: 20%;
  background-color: skyblue;
  margin-left: 200px;
  padding: 10px;
  margin-right: 700px;
  display: flex;
  flex-wrap: wrap;
}
input{
  border: 1px red solid;

    margin: .4rem 0;
}

}

#button1{
  margin-top: 5px;
padding-left: 200px;


}


#additionalinfo{
  background-color: yellow;
}
#address{
  margin-right: 40px;
}
#Qualification{
  margin-left: 15%;
}
#container1{
  height: 250px;
  width: 100px;
  border: 1px solid black;
  margin-left: 75%;
}
#food{
  margin-left: 25px;
}
select{
  width: 150px;
  margin-left: 80px;
  color: red;
  font-weight:bold;
  font-size: 25px;
  background-color: lightgreen;
  display: flex;
  flex-wrap: wrap;
}
#sub{
  margin-left: 100px;
  color: teal;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
}
#checkbox{
  margin-left: 100px;
  font-size: 20px;

}
#Proceed{
  margin-left: 110px;
  margin-top: 5px;
}
#upload{
  text-align: left;
}
#ch{
  color: black;
}
iframe{
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
}

/*Stylesheet for links*/
h1{
  text-align: center;
  font-size: 38px;
  color: red;
}

h2{
  font-family: arial;
  font-size: 25px;
  text-align: left;
  color: gold;
  text-decoration: underline;
  font-style: italic;
  padding-right: 10px;

}
a{

  font-family: cursive;
  color: magenta;
  font-size: 15px;

}
ul>li{
  text-align: left;
  padding-left: 5px;
  font-family: cursive;
  color: silver;
  font-size: 20px;

}
h3{
  font-family: arial;
  font-size: 25px;
  text-align: left;
  color: blue;
  text-decoration: underline;
  font-style: italic;
  padding-right: 25px;
}

ol>li{
  text-align: left;
  padding-left: 5px;
  font-family: cursive;
  color: magenta;
  font-size: 20px;

}
p{
  color:blue;
  font-size: 20px;
  font-weight: bold;
  font-family:fantasy;

}
img{
  border: 5px solid red;
}
figcaption{
  font-family: cursive;

}

/*Below styling is for HTML5 Video player*/
#video {
  text-align: center;
  color: red;
  font-weight: normal;


}
#searchicon{
  border: none;
}
#psearch{
  color: black;
  font-weight: normal;
  font-family: cursive;
}
#vidh1{
  font-family: serif;
  font-weight: bolder;


}

#parthtml{
  color: lightgreen;
  font-style: italic;
}
video{
  margin-left: 25%;
  margin-right: 25%;
}
b{
  color: teal;
}
